@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: mistral;
    src: url("../Fonts/mistral/MISTRAL.TTF");
  }
}

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: 'Kaisei Opti', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom-object-position{
  object-position: 50% 60%;
}

@import 'react-responsive-carousel'